[submodule "MatchGame/assets/ArtisanDream.Tools"]
	path = MatchGame/assets/ArtisanDream.Tools
	url = https://github.com/anthonyromrell/ArtisanDream.Tools
[submodule "MatchGame/Assets/Scripts"]
	path = MatchGame/Assets/Scripts
	url = https://github.com/dealwiththedevil13/MyScriptRepo/tree/master/Scripts
